@font-face {
    font-family: myfont;
    src: url('./Assets/pxiEyp8kv8JHgFVrJJfecnFHGPc\ \(3\).woff2 ');
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: myfont;
}
body{
    background-color: #070606;
}
#logo{
    color: white;
    font-size: 18px;
}
.nav-1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px gray;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10px;
}

.ul-1 #li-1{
   list-style-type: none;
   display: inline-block;
   padding: 10px 20px;

}
.ul-1 #li-1 #a-1{
    color: white;
    text-decoration: none;
    font-weight: 10px;
    font-size: 13px;

}
.ul-1 #li-1 #a-1:hover{
    font-weight: bolder;
    transition: .3s;
}
button{
    border: none;
    color: white;
    background-color: transparent;
    font-size: 15px;
}
/* navbar 2 */
.nav2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 1px grey ;
    padding-left: 10%;
    padding-right: 5%;
    padding-top: 25px;
    position: sticky; 
    top: 0; 
    z-index: 100;
    background-color: #070606;
    
}
#logo2{
    color: white;
    font-size: 20px;
}
#ul-2 #li-2{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
    font-size: 13px;

}
#ul-2 #li-2 #a-2{
    color: white;
    text-decoration: none;
    font-size: 13px;
    font-family: Arial;
}
#ul-2 #li-2 #a-2:hover{
    font-weight: bolder;
    transition: .3s;
}
/*  */
#ban-h2{
    color: white;
    margin-left: 48%;
    margin-top: 70px;
    font-size: 15px;
    font-family: Arial;
}
 #para-h1{
    color: white;
    margin-left: 28%;
    margin-top: 20px;
    font-size: 50px;
}
#parah2{
    color: white;
    margin-left: 38%;
    font-size: 45px;
}
#bannerpara{
    color: white;
    margin-top: 20px;
    margin-left: 28%;
    font-size: 20px;
}
#bannerbtn1{
    background-color: white;
    color: black;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
    position: absolute;
    top: 480px;
    margin-left: 500px;
    width: 150px;   
    height: fit-content; 
}
#bannerbtn1:hover{
    background: transparent;
    border: 2px solid  white;
    color: white;
    cursor: pointer;
}
#bannerbtn2{
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
    position: absolute;
    top: 480px;
    margin-left: 700px;
    width: 150px;    
    background: transparent;
    border: 2px solid  white;
    cursor: pointer;
}
#bannerbtn2:hover{
    background-color: white;
    color: #070606;


}